<html>
  <head>
    <title>Subsscrypto Extension</title>
    <script src="popup.js"></script>
	<style>
		body{
   			width:300px;
   			height:320px;
			background-color: #f2f2f2;
   			}
		#slot{
			width:290px;
			height:50px;
			background-color:#8e8e8e;
			border-radius: 9px;
		}
	</style>  
  </head>
  <body>
	  <table>
		  <tr>
			  <td> 
				  <table>
					  <tr>
						  <td> <img src ="icondos.png" width="20"> </td>
						  <td> <p> 10 | </p> </td>
						  <td> <p> Socrates </p></td>
					  </tr>
				  </table>
			  </td>
		  
		  </tr>
		  
		  <tr>
		  	 <td> 
				 <div id="slot">
					 <table>
					 	<tr>
						 <td> 
							 <img src ="netflixicon.png" width="45"> 
						</td>
						<td> 
							Title here
						</td>	
						<td> 
							on off 
						</td>	
						 
						 </tr>
					 </table>
				 </div>
			  </td>
		  </tr>
		  
		   <tr>
		  	 <td> 
				 <h1> slot dos</h1>
			   </td>
		  </tr>
		  
		   <tr>
		  	 <td> 
				 <h1> look for more </h1>
			   </td>
		  </tr>
		  
		  
		  
		  
	  </table>
  </body>
</html>